# check even are odd

In [1]:
num=int(input('Enter The Number: '))
if(int(num) >= 2):
    if((num%2) == 0):
        print(num,'is Even')
    else:
        print(num,'is Odd')
else:
    print('enter greater than 2')

Enter The Number: 2
2 is Even

# find squareroot of num

In [17]:
num=int(input('enter the number: '))
if(num>=1):
    ans=num**0.5
    print('square root of '+ str(num) +' is '+ str(ans))
else:
    print('enter greater than 1')

enter the number: 81
square root of 81 is 9.0

# find square

In [15]:
num=int(input('Enter The Number'))
if(num>1):
    ans=num*num
    print(ans)
else:
    print('enter greater than 1')

Enter The Number9
81

# calculate area of triangle

In [21]:
base = int(input('enter the base: '))
height = int(input('enter the height: '))
area = height*base/2
print('area of triangle is',area)

enter the base: 4
enter the height: 2
area of triangle is 4.0

# calculate area of triangle three sides

In [59]:
a = float(input('enter a: '))
b = float(input('enter b: '))
c = float(input('enter c: '))
s = (a+b+c)/2
area = ((s*(s-a)*(s-b)*(s-c))**0.5)
print('the semi-perimeter of triangle is',float(s))
print('{:.2f}'.format(area))

enter a: 5
enter b: 6
enter c: 7
the semi-perimeter of triangle is 9.0
14.70

# solve quadratic equation

In [69]:
import cmath
a =float(input('enter a: '))
b =float(input('enter b: '))
c =float(input('enter c: '))
d=b**2
e=4*a*c
sol1 = (-b+(d-e)**0.5)/(2*a)
sol2 = (-b-(d-e)**0.5)/(2*a)
print(sol1,sol2)

enter a: 1
enter b: 5
enter c: 6
-2.0 -3.0

# Swap Two Variables

In [70]:
a =int(input('enter the first number: '))
b = int(input('enter the second number: '))
t = b
b = a
a = t
print('the first number after swap is {}'.format(a))
print('the second number after swap is {}'.format(b))

enter the first number 2
enter the second number3
the first number after swap is 3
the second number after swap is 2

# Swap Two Variables without third variable

In [71]:
a =int(input('enter the first number '))
b = int(input('enter the second number '))
a = a+b
b = a-b
a = a-b
print('the first number after swap is {}'.format(a))
print('the second number after swap is {}'.format(b))

enter the first number 3
enter the second number4
the first number after swap is 4
the second number after swap is 3

# generate random number

In [73]:
import random
a =int(input('enter the starting number '))
b = int(input('enter the ending number '))
print(random.randint(a,b))

enter the starting number 1
enter the ending number 9
3

# Convert Kilometers to Miles

In [86]:
km = float(input('enter the kilometer: '))
meter = km*0.621371
print('{} Km = {:.2f} miles'.format(km,meter))

enter the kilometer: 4
4.0 Km = 2.49 miles

# Convert  Miles to Kilometers

In [88]:
mile = float(input('enter the miles: '))
km = mile/0.621371
print('{} mile = {:.2f} km'.format(mile,km))

enter the miles: 2.49
2.49 mile = 4.01 km

# Convert Celsius To Fahrenheit

In [81]:
celsius = float(input('enter celsius'))
fah = (celsius*1.8)+32
print('{}c = {:.2f}f'.format(celsius,fah))

enter celsius37.5
37.5c = 99.50f

# Convert Fahrenheit to Celsius

In [89]:
fahrenheit = float(input('enter Fahrenheit: '))
celsius =(fahrenheit-32)/1.8
print('{}f = {:.2f}c'.format(fahrenheit,celsius))

enter Fahrenheit: 99.50
99.5f = 37.50c

# check the number  positive are negative are zero

In [96]:
num=int(input('Enter a Number: '))
if(num ==0 ):
    print('The Give Number {} is zero'.format(num))
else:
    if(num>0):
        print('The Give Number {} is positive'.format(num))
    else:
        print('The Give Number {} is negative'.format(num))

Enter a Number: -2
The Give Number -2 is negative

# find leap year are not

In [112]:
num = int(input('Enter the Year: '))
if(num%4 == 0):
    print( num, 'Is a leap year')
else:
    print(num,'Not a leap year')

Enter the Year: 2020
2020 Is a leap year

# find the largest number

method 1

In [114]:
a =int(input('Enter the First Number: '))
b =int(input('Enter the second Number: '))
c =int(input('Enter the third Number: '))
if(a>b):
    large = a
    if(large>c):
        print(large,'is largest number')
    else:
        print(c,'is largest number')
else:
    large = b
    if(large>c):
        print(large,'is largest number')
    else:
        print(c,'is largest number')

Enter the First Number: 9
Enter the second Number: 1
Enter the third Number: 2
9 is largest number

method 2

In [117]:
a =int(input('Enter the First Number: '))
b =int(input('Enter the second Number: '))
c =int(input('Enter the third Number: '))
if((a>b)&(a>c)):
    print(a,'is largest number')
elif(b>a)&(b>c):
    print(b,'is largest number')
else:
    print(c,'is largest number')

Enter the First Number: 9
Enter the second Number: 2
Enter the third Number: 3
9 is largest number

# prime are not

In [161]:
a =int(input('Enter the Number: '))
if(a>1):
    for i in range(2,a):
        if((a%i) == 0):
            print(a,'is not a prime')
            break
    else:
        print(a,'is a prime')
else:
    print(a,'is a  not a prime ')

Enter the Number: 3
3 is a prime

#  find the set  of range  prime numbers

In [52]:
a =int(input('Enter the starting Number: '))
b =int(input('Enter the ending Number: '))
for i in range(a,b):
    if(i>1):
        for num in range(2,i):
            if(i%num)==0:
                break
        else:
            print(i)

Enter the starting Number: 11
Enter the ending Number: 20
11
13
17
19

# find factorial number

method 1

In [59]:
a = int(input('Enter the number'))
product = 1
for i in range(1,a+1):
    product *= i 
print(product)

Enter the number6
720

method 2

In [62]:
import math
a = int(input('Enter the number'))
print(math.factorial(a))

Enter the number6
720

# display tables

In [66]:
a = int(input('Enter the number:'))
for i in range(1,10+1):
    print("{}x{}={}".format(a,i,(a*i)))

Enter the number:13
13x1=13
13x2=26
13x3=39
13x4=52
13x5=65
13x6=78
13x7=91
13x8=104
13x9=117
13x10=130

# fibonacci series

In [14]:
num = int(input('Enter the number:'))
a=0
b=1
count =0
print(a)
print(b)
while(count<num-2):
    c = a+b
    print(c)
    a = b    
    b = c
    count+=1

Enter the number:5
0
1
1
2
3

# find Armstrong Number

method 1

In [13]:
num = int(input("enter the number: "))

hun = num//100
ten = (num//10)-(hun*10)
one = num - (hun*100)-(ten*10)

hun = hun**3
ten = ten**3
one = one**3

if(hun+ten+one == num):
    print('It Is A Armstrong Number')
else:
    print('Not A Armstrong Number')

enter the number: 153
It Is A Armstrong Number

methos 2

In [26]:
lower = int(input('enter starting number: '))
upper = int(input('enter ending number: '))

for num in range(lower, upper + 1):   
    order = len(str(num))
    sum = 0

    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10

    if num == sum:
        print(num)

enter starting number: 10000
enter ending number: 100000
54748
92727
93084

In [10]:
a = int(input("enter the number: "))
b = int(input("enter the number: "))
for num in range(a,b+1):
    hun = num//100
    ten = (num//10)-(hun*10)
    one = num - (hun*100)-(ten*10)
    huns = hun**3
    tens = ten**3
    ones = one**3
    if(huns+tens+ones == num):
        print(num)

enter the number: 100
enter the number: 900
153
370
371
407

# sum of natural numbers

In [19]:
num = int(input("enter the number: "))
sum = 0
if(num>0):
    for i in range(1,num+1):
        sum+=i
    print(sum)
else:
    print('enter greater than 0')

enter the number: 5
15

#  Display Powers of  number

In [43]:
num1 = int(input("enter the number: "))
num2 = int(input("enter the range: "))
for i in range(0,num2):
    print('{} to the power of {} is {} '.format(num1,i,(num1**i)))

enter the number: 2
enter the range: 10
2 to the power of 0 is 1
2 to the power of 1 is 2
2 to the power of 2 is 4
2 to the power of 3 is 8
2 to the power of 4 is 16
2 to the power of 5 is 32
2 to the power of 6 is 64
2 to the power of 7 is 128
2 to the power of 8 is 256
2 to the power of 9 is 512

#  display division number

In [63]:
div =int(input("enter the divison number: "))
start = int(input("enter the starting range: "))
end = int(input("enter the ending range: "))
lists =[]
for i in range(start,end+1):
    if((i%div)== 0):
#         lists.append(i)
          print(i)  
# print(lists)

enter the divison number: 2
enter the starting range: 1
enter the ending range: 10
2
4
6
8
10

# find div number in list

In [66]:
num = [13,56,987,26,39,130]   
"""also add some other numbers in a list """ 
div = int(input('enter the divion number'))
res = list(filter(lambda x: x%div == 0,num))
print(res)

enter the divion number13
[13, 26, 39, 130]

# convert dicimal number into binary and octal and hexa numbers

In [105]:
num= int(input('enter the number'))
bina = bin(num)
hexa = hex(num)
octa = oct(num)
print('Binary  number of '+str(num)+ ' ' +bina +", the `0b` refers binary")
print('Hexadecimal number of '+str(num)+ ' ' +hexa +", the `0x` refers hexadecimal  number")
print('Octal number of '+str(num)+ ' ' +octa+", the `0o` refers octal number")

enter the number2
Binary  number of 2 0b10, the `0b` refers binary
Hexadecimal number of 2 0x2, the `0x` refers hexadecimal  number
Octal number of 2 0o2, the `0o` refers octal number

# convert ASCII VALUE OF CHARACTERS

In [1]:
char = str(input('enter the character: '))
if(len(char)==1):
    print('the ASCII value of character',ord(char))
else:
    print('enter single character ')

enter the character: A
the ASCII value of character 65

# Find GCD

In [41]:
def gcd(num1,num2):
    num3 = max(num1,num2)
    GCD = []
    for i in range(1,num3):
        if(num1%i == 0) & (num2%i == 0):
            GCD.append(i)
    print('GCD is',max(GCD))

gcd(int(input('Enter the first number:')),int(input('Enter the second number:')));

Enter the first number:24
Enter the second number:18
GCD is 6

# Find LCM

In [73]:
def lcm(num1,num2):
    num3 = []
    num4 = []
    lcm = []
    for i in range(1,9):
        num3.append(num1*i)
        num4.append(num2*i)
    for value1 in num3:
        for value2 in num4:
            if(value1 == value2):
                lcm.append(value1)
    print(min(lcm))
lcm(24,36);

72

# factor of a number

In [75]:
def fac(num):
    for i in  range(1,num+1):
        if(num%i == 0):
            print(i)
fac(320);

1
2
4
5
8
10
16
20
32
40
64
80
160
320

# simple calculation

In [4]:
num1 =int(input('enter the first number: '))
num2 =int(input('enter the second number: '))
# addition
print("1.addition:",num1+num2)
# subtraction
if(num1>num2): print("2.subtraction:",num1-num2) 
else: print("2.subtraction:",num2-num1)
# multiplication
print("3.multiplication:",num1*num2)
# divition
if(num1>num2): print("4.divition:",num1/num2) 
else: print("4.divition:",num2/num1)

enter the first number: 4
enter the second number: 2
1.addition: 6
2.subtraction: 2
3.multiplication: 8
4.divition: 2.0

# display random  number of cards

In [25]:
import random
lists = ['Spade','Heart','Diamond','Club']
for i in range(len(lists)):
    ran = random.choice(lists)
    rans = random.randint(1,len(lists))
    print(rans ,'of',ran)

4 of Club
2 of Heart
3 of Spade
4 of Spade

# display a calendar

In [36]:
import calendar
year = int(input('enter the year:'))
month = int(input('enter the month:'))
print(calendar.month(year,month))

enter the year:2022
enter the month:1
    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

# Get fib series using recrusion

In [18]:
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = int(input('Enter a number: '))
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence")
   for i in range(nterms):
       print(recur_fibo(i))

Enter a number: 10
Fibonacci sequence
0
1
1
2
3
5
8
13
21
34

# sum natural number using recrusion

In [26]:
def nat(num):
    if(num<=1):
         return  num
    else:
        return  num + nat(num-1)
    print(result)
    
print('The sum of natural number is',nat(int(input('How Many Number You Want  To Add:'))))

How Many Number You Want  To Add:100
The sum of natural number is 5050